body {
    font-family: Verdana, Geneva, sans-serif;;
    margin: 0 auto;
    max-width: 60em;
    line-height: 1.4;
}

#mainmenu {
    background-color: #D1DBBD;
}

#extramenu {
    background-color: #D1DBBD;
    border-top: 1px solid #b1bB9D;
}

footer p {
    padding: 1em 1em 1em 1em;
}

#mainmenu a {
    color: black;
}

#extramenu a {
    color: black;
}

#content {
    padding: 1em 1em 1em 1em;
}

#content a {
    text-decoration: none;
}
