body {
    font-family: 'Droid Sans', sans-serif;
}

#mainmenu {
    background-color: #FFB03B;
}

#extramenu {
  background-color: #FFB03B;
  border-top: 1px solid black;
}


footer {
    background-color: #FFB03B;
}
footer p {
    padding: 1em 1em 1em 1em;
}

#mainmenu a {
    color: black;
}

#extramenu a {
  color: black;
}

#content {
    padding: 1em 1em 1em 1em;
}
