<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css" />
  <link rel="stylesheet" href="/css/look.css" />
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <title> {% if page.title %} {{ page.title }} | {% endif %} teki, stuff </title>
</head>

<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId: '1491168351150228',
        xfbml: true,
        version: 'v2.2'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <div id="main">
    <div class="pure-menu pure-menu-open pure-menu-horizontal" id="mainmenu">
      <ul>
        <li class="pure-menu-selected"><a class="menutext" href="/">Home</a></li>
        <li><a href="diy.html">DIY</a></li>
        <li><a href="retro.html">Retro</a></li>
    </div>

    {{ extramenus }}

    <div id="content">
      {{ content }}
    </div>
    {% if page.comments %}
    <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="500" data-numposts="5" data-colorscheme="light"></div>
    {% endif %}
    <footer>
      <p>@ teki 2015 | All Rights Reserved. </p>
    </footer>

  </div>
</body>

</html>
