<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} teki, stuff </title>
</head>

<body>
  <p>
    <a href="/">Home</a>|
    <a href="diy.html">DIY</a>|
    <a href="vintage_computers.html">Vintage Computers</a>|
    <a href="retro_gaming.html">Retro Gaming</a>
    {{ extramenus }}
  </p>

  <div id="content">
    {{ content }}
  </div>

  <footer>
    <p>© <a href="https://x.com/teki">@teki</a> 2024 | All Rights Reserved. </p>
  </footer>

  </div>
</body>

</html>
